.card{
    box-shadow: 5px 5px 3px rgb(179, 178, 178);
    border-radius: 15px;
    padding: 20px;
    width: 80%;
    margin-bottom: 20px;
    background-color: bisque;
}

.mainHeading{
    text-align: center;
    margin-bottom: 0px;
}

.homeImg{
    height: 60vh;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0px;
}

.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 80vh;
    background-size: cover;
}

.home a{
    text-decoration: none;
    color: black;
}