.container{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    padding: 60px;
}

.generatorHeading{
    font-size: 30px;
    font-family: Arial;
}

.homeImg{
    height: 50vh;
    width: 80%;

}

.checkboxContainer{
    box-shadow: 3px 3px 3px 3px rgb(214, 211, 211);
    width: 100%;
    padding: 30px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: beige;
}

.checkboxContainer p {
    color: red;
    font-size: 15px;
}

.passwordContainer{
    box-shadow: 3px 3px 3px 3px rgb(182, 181, 181);
    width: 100%;
    padding: 30px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: beige;
}

.passwordContainer button{
    font: inherit;
    cursor: pointer;
    background-color: #497eaa;
    color: white;
    padding: 0.5rem 1.5rem;
    border: 1px solid  #497eaa;
    border-radius: 4px;
    font-weight: bold;
    margin-left: 1rem;
}

.passwordContainer button:hover,
  .passwordContainer button:active {
    background-color: #10e8c4;
    border-color: #203bc5;
  }

.passwordContainer p{
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}

.inputContainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 3px;
}

.actions {
    margin-top: 1rem;
    text-align: center;
  }
 
  .actions button {
    font: inherit;
    cursor: pointer;
    background-color: #320deb;
    color: white;
    padding: 0.5rem 1.5rem;
    border: 1px solid #31138a;
    border-radius: 4px;
    font-weight: bold;
    margin-left: 1rem;
  }
 
  .actions button:hover,
  .actions button:active {
    background-color: #705aed;
    border-color: #203bc5;
  }